
body {
    background-size: 1500px 2500px;
    color: rgb(98, 124, 163);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.navtop {
    background-color: rgb(1, 40, 63);
    overflow: hidden;
}

.navtop a {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
    height: 26px;
}